img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    opacity: 0.5;
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5em;
  color: #2C3E50;
}

.samesize img {
    height:220px;
    width:100%;
}

header .intro-text .skills {
  font-size: 4em;
  color: #2C3E50;
